<html>
<head>
    <title>人员管理</title>

    <style type="text/css">
    body{
        margin:0;padding:0;border:0;width:100%;height:100%;overflow:visible;
    }    
    .detailForm td
	{
	    line-height:22px;
	    font-size:13px;
	    font-family:Verdana;
	}
    </style>
	
    <meta name="decorator" content="miniui314px" >
</head>
<body>
	
$PathUtil.jsLink("com.bop.module.form", "/DataGrid.js")

<div class="mini-splitter" style="width:100%;height:100%;">
    <div size="19%"  minSize="250px" showCollapseButton="true" showRadioButton="true">
        <div class="mini-fit">
        	<div class="mini-toolbar" style="padding:2px;border-top:0;border-left:0;border-right:0;"> 
        		<a class="mini-button" iconCls="icon-add" plain="true" onclick="onAddNode()">
					新增sszz
				</a>
            	<span class="separator"></span>
				#if($canDeleteDept)
            	<a class="mini-button" iconCls="icon-remove" plain="true" onclick="onDelNode()">
					删除
				</a>  
            	<span class="separator"></span>
				#end
            	<a class="mini-button" iconCls="icon-edit" plain="true" onclick="oneditNode()">
					修改
				</a>   
        	</div>
            	<ul id="deptTree" class="mini-tree"  style="width:100%;height:95%;" 
				showTreeIcon="true" textField="text" idField="id" resultAsTree="true"  
				expandOnLoad="true" onnodeclick="onNodeClick">
				</ul>
        </div>
    </div>
    <div showCollapseButton="true">
        <div class="mini-toolbar" style="padding:2px;border-top:0;border-left:0;border-right:0;">                
            <a class="mini-button" iconCls="icon-add" plain="true" onclick="addRow()">
				新增
			</a>
            <span class="separator"></span>
			#if($canDeletePerson)
            <a class="mini-button" iconCls="icon-remove" plain="true" onclick="removeRow()">
				删除
			</a>  
            <span class="separator"></span>
			#end
            <a class="mini-button" iconCls="icon-edit" plain="true" onclick="editRow()">
				修改
			</a>
            	<span class="separator"></span>
            	<input id="key"  name="key" class="mini-textbox" emptyText="员工姓名或登录名" onenter="onKeyEnter" />
            	<a class="mini-button"  iconCls="icon-find" plain="true" onclick="findNode()">查询</a>
            	<a class="mini-button" onclick="showAll()">显示所有人员</a>  
        </div>
        <div class="mini-fit">
			$personGrid.render()
        </div>
    </div>     
       
</div>
<div id="win1" class="mini-window" title="新增人员" style="width:500px;height:400px;"  
    showModal="true" showCloseButton="false" showFooter="true" allowDrag="true">
	
	<div property="footer" align="center" >
	
			
			<a class="mini-button" iconCls="icon-ok"  onclick="addRowYes()">确定</a>
            <span class="separator"></span>
       <a class="mini-button" iconCls="icon-cancel"  onclick="addRowNo()">取消</a>  
    </div>
	
	
	<form id="form1" >
        <table>
            <tr >
                <th width="140">
                    <label for="textbox1$text">员工编号<font color="red">*</font>：</label>
                </th>
                <td>
                    <input id="RY01011"  name="RY0101" class="mini-textbox" required="true" onenter="onKeyEnter3" />
                </td>
				 <th width="140">
                    <label for="textbox1$text">员工姓名<font color="red">*</font>：</label>
                </th>
                <td>
                    <input id="RY0103"  name="RY0103" class="mini-textbox" required="true" onenter="onKeyEnter3"/>
                </td>
            </tr>
            
            <tr>
                <th>
                    <label for="textbox1$text">登录名<font color="red">*</font>：</label>
                </th>
                <td>
                    <input id="RY01022"  name="RY0102" class="mini-textbox" required="true" onenter="onKeyEnter3"  onvaluechanged="checkLoginName()"/>
                    <font color="red">
                    	 <span id="RY01022ERROR" ></span>
                    </font>
                </td>
				<th>
                    <label for="textbox1$text">工作单位<font color="red">*</font>：</label>
                </th>
                <td>
                    <input   id="RY0109"  name="RY0108" class="mini-textbox" required="true" onenter="onKeyEnter3"/>
                </td>
            </tr>
			
			<tr>
				<th>
                    <label for="textbox1$text">薪水：</label>
                </th>
                <td>
                    <input id="RY0113"  name="RY0113" class="mini-textbox" />
                </td>
				
				<th>
                    <label for="textbox1$text">技能：</label>
                </th>
                <td>
                    <input id="RY0114"  name="RY0114" class="mini-combobox"  url="/Domain/DMDefineTreeAjax.do?tableName=GJB060&isSync=1&filterDelete=0" />
                </td>
			</tr>
			
			<tr>
				<th>
                    <label for="textbox1$text">定长字符串：</label>
                </th>
                <td>
                    <input id="RY0115"  name="RY0115" class="mini-textbox" />
                </td>
				
				<th>
                    <label for="textbox1$text">入职时间：</label>
                </th>
                <td>
                    <input id="RY0116"  name="RY0116" class="mini-datepicker" showTodayButton="false"/>
                </td>
			</tr>
			
			
            <tr>
				
                <th>
                    <label for="textbox1$text">职位信息：</label>
                </th>
                <td>
                    <input id="RY0108"  name="RY0109" class="mini-textbox"  onenter="onKeyEnter3"/>
                </td>
				
				<th>
                    <label for="textbox1$text">人员角色：</label>
                </th>
                <td>
                    <input id="RY0117"  name="RY0117" class="mini-combobox" url=/example/rygl/ryjs?theme=none />
                </td>
            </tr>
			<tr >
				<th>
                    <label for="textbox1$text">是否生效：</label>
                </th>
                <td>
                    <input id="RY0111"  name="RY0111" class="mini-checkbox" trueValue="1" falseValue="0"  />
                </td>
				
			</tr>
			<tr >
				<th>
                    <label for="textbox1$text">人员简介：</label>
                </th>
                <td    colspan="3" >
                    <input id="RY0112" style="width:350px;height:100px;" name="RY0112" class="mini-textarea"  />
                </td>
            </tr>
			
			
        </table>
    </form>

     	
</div>

<iframe name = "cs" id="cs" style="display:none"></iframe>

<div id="win2" class="mini-window" title="修改人员信息" style="width:490px;height:400px;"  
    showModal="true"  showFooter="true" allowDrag="true">
	<div property="footer" align="center" >
		
       <input type="button" name="button1" value = "确定" onclick="editRowYes()">
		
            <span class="separator"></span>
			
		<input type="button" name="button2" value = "取消" onclick="editRowNo()">
    </div>
	
    <form id="form2" action="/example/rygl/edituser?theme=none" method="post"  target="cs" enctype="multipart/form-data">
        
		<table>
				
             <tr >
				
                <th >
                    <label for="textbox1$text">员工编号<font color="red">*</font>：</label>
                </th>
                <td>
                    <input id="RY0101"  name="RY0101" class="mini-textbox" required="true" />
					<input id="userid"  name="userid" class="mini-hidden"  />
                </td>
				 <th>
                    <label for="textbox1$text">员工姓名<font color="red">*</font>：</label>
                </th>
                <td>
                    <input id="RY0103"  name="RY0103" class="mini-textbox" required="true" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="textbox1$text">登录名<font color="red">*</font>：</label>
                </th>
                <td>
                   <input id="RY0102"  name="RY0102" class="mini-textbox" required="true"  onvaluechanged="checkLoginName1()" allowInput="false"/> 
                    <font color="red">
                    	 <span id="RY0102ERROR" ></span>
                    </font>
                </td>
				<th>
                    <label for="textbox1$text">工作单位<font color="red">*</font>：</label>
                </th>
                <td>
                    <input id="RY0109"  name="RY0108" class="mini-textbox" required="true" />
                </td>
            </tr>
           <tr>
				<th>
                    <label for="textbox1$text">薪水：</label>
                </th>
                <td>
                    <input id="RY0113"  name="RY0113" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="2" />
                </td>
				
				<th>
                    <label for="textbox1$text">技能：</label>
                </th>
                <td>
                    <input id="RY0114"  name="RY0114" class="mini-combobox"  url="/Domain/DMDefineTreeAjax.do?tableName=GJB060&isSync=1&filterDelete=0" />
                </td>
			</tr>
			
			<tr>
				<th>
                    <label for="textbox1$text">定长字符串：</label>
                </th>
                <td>
                    <input id="RY0115"  name="RY0115" class="mini-textbox" />
                </td>
				
				<th>
                    <label for="textbox1$text">入职时间：</label>
                </th>
                <td>
                    <input id="RY0116"  name="RY0116" class="mini-datepicker"  />
                </td>
			</tr>
			
			
            <tr>
				
                <th>
                    <label for="textbox1$text">职位信息：</label>
                </th>
                <td>
                    <input id="RY0108"  name="RY0109" class="mini-textbox"  onenter="onKeyEnter3"/>
                </td>
				
				<th>
                    <label for="textbox1$text">人员角色：</label>
                </th>
                <td>
                    <input id="RY0117"  name="RY0117" class="mini-combobox" url=/example/rygl/ryjs?theme=none />
                </td>
            </tr>
			<tr >
				<th>
                    <label for="textbox1$text">是否生效：</label>
                </th>
                <td>
                    <input id="RY0111"  name="RY0111" class="mini-checkbox" trueValue="1" falseValue="0"  />
                </td>
				
			</tr>
			<tr >
				<th>
                    <label for="textbox1$text">人员简介：</label>
                </th>
                <td    colspan="3" >
                    <input id="RY0112" style="width:350px;height:100px;" name="RY0112" class="mini-textarea"  />
                </td>
            </tr>
			
			<tr>
				<th>
                    <label for="textbox1$text">附件：</label>
                </th>
				<td colspan="3" >
					<input id="fileupload1" style="width:300px;" type="file" name="fileupload1"  />
					 <span id="fileuploadlook" ></span>
                 </td>
				 
            </tr>
			<tr >
				<th>
                    <label for="textbox1$text">测试：</label>
                </th>
                <td>
                    <input id="RY0120"  name="RY0120" class="mini-treeselect" expandOnLoad="true" resultAsTree="true"	url="/Domain/DMDefineTreeAjax.do?tableName=CS001&isSync=1&filterDelete=0" />
                </td>
            </tr>
        </table>
		
    </form>
      	
</div>   
    <div id="win3" class="mini-window" title="新增部门" style="width:270px;height:85px;"  
    showModal="true" showCloseButton="false" showFooter="true" allowDrag="true">
    <div property="footer" align="center">
       <a class="mini-button" iconCls="icon-ok"  onclick="onAddNodeYes()">确定</a>
            <span class="separator"></span>
       <a class="mini-button" iconCls="icon-cancel"  onclick="onAddNodeNo()">取消</a>  
    </div>
    
    <div id="form3" >
        <table>
            <tr >
                <td >
                    <label for="textbox1$text">部门名称<font color="red">*</font>：</label>
                </td>
                <td>
                    <input id="BM01011"  name="BM0101" class="mini-textbox" required="true"  onenter="onKeyEnter1"  onvaluechanged="checkNode()"/>
                    <font color="red">
                     <span id="BM01011EORROR" ></span>
                    </font>
                </td>
            </tr>
        </table>
    </div>
    </div>
    <div id="win4" class="mini-window" title="修改部门名称" style="width:270px;height:85px;"  
    showModal="true" showCloseButton="false" showFooter="true" allowDrag="true">
    <div property="footer" align="center">
       <a class="mini-button" iconCls="icon-ok"  onclick="oneditNodeYes()">确定</a>
            <span class="separator"></span>	
       <a class="mini-button" iconCls="icon-cancel"  onclick="oneditNodeNo()">取消</a>  
    </div>
    
    <div id="form4" >
        <table>
            <tr >
                <td >
                    <label for="textbox1$text">部门名称<font color="red">*</font>：</label>
                </td>
                <td>
                    <input id="BM0101"  name="BM0101" class="mini-textbox" required="true" onenter="onKeyEnter2" onvaluechanged="checkUpdateNode()"/>
                    <font color="red">
                     <span id="BM0101EORROR" ></span>
                    </font>
                </td>
            </tr>
        </table>
    </div>

</div>

<div id="form5" style="display:none;padding:5px;background-color:gray;">
        <input class="mini-hidden" name="id"/>
        <table style="width:100%;background-color:gray;">
        	<tr>
        		 <td><font size="3px">员工详细信息：</font></td>
        	</tr>
            <tr>
                <td style="width:80px;">员工姓名：</td>
                <td style="width:150px;"><input name="RY0103"  class="mini-textbox" selectOnFocus="true" allowInput="false"/></td>
                <td style="width:80px;">员工编号：</td>
                <td style="width:150px;"><input name="RY0101" class="mini-textbox" selectOnFocus="true" allowInput="false"/></td>
                <td style="width:80px;">职位信息：</td>
                <td style="width:150px;"><input name="RY0109" class="mini-textbox" selectOnFocus="true" allowInput="false"/></td>
            </tr>
            <tr>
                <td>工作单位：</td>
                <td><input name="RY0108" class="mini-textbox" selectOnFocus="true" allowInput="false"/></td>
                <td>部门名称：</td>
                <td><input name="BM0101" class="mini-textbox" selectOnFocus="true" allowInput="false"/></td>
            </tr>
        </table>
</div>

<script type="text/javascript" src="/example/rygl/rygl.js"></script>
<script>

mini.parse();
var tree = mini.get("deptTree");
tree.load( "/example/rygl/deptlist?theme=none");

var grid = new miniDataGrid('$personGrid.getControlId()');

mini.get(grid.id).on('drawcell', function(e) {
	var record = e.record, column = e.column, field = e.field, value = e.value;
	
	if(field == '员工登录名') {
		// do something
	}
});

refreshGrid();

function generateGridFilter() {
	grid.filter.reset();
	
	if(tree.getSelectedNode()) {
		grid.filter.and("BMID = '" + tree.getSelectedNode().id +　"'");
	}
}

</script>
</body>
</html>